<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My projects</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
  <navbar class="navbar">
    <ul>
        <li><a href="/">About me</a></li>
        <li><a href="projects">My projects</a></li>
        <li><a href="blog">Blog</a></li>
        <li><a href="contact">Contact</a></li>
    </ul>
  </navbar>
  <h1>My projects page</h1>
  <h2>Message on my projects page: {{ sporocilo }}</h2>

</body>
</html>